@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-gray-900 transition-colors duration-200;
}

html.dark body {
  @apply bg-neutral-900 text-gray-100;
}

.table-cell-ellipsis {
  @apply truncate max-w-[200px] block;
}
